
.container{
    background-image: url(wolfloginTTT.jpg);
background-size:cover;
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;
}
.login {background-color: rgba(56, 92, 60, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 40%;
        border-radius: 50px;
        border: 2px solid;
        border-color: rgb(51, 35, 15);
        font-style: italic;

}
#box{
    display: flex;
    
    width: 65%;
    
    border: 1px rgb(104, 47, 3);
    outline: none;
    border-radius: 15px;


}
input[type="button"]{
    /* color: rgb(1, 33, 6, .9); */
    padding: 12px 30px;
    background-color: rgb(51, 35, 15);
    color: rgba(56, 92, 60, 0.99);
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}
#submit:hover{
    cursor: pointer;
    background-color: black;
}
.login h1{
    font-family: 'CUTE ANIMAL', sans-serif;
}
.login a{
    text-decoration: none;
    color: black;
    margin-top: 20px;
}
.login a:hover{
    color: rgb(51, 35, 15);
}

